/* Page layout */   
   html, body {
      padding:0;
      margin: 0;
      text-align: center;
      background: #F4F5F5;
      
      font-family: arial, sans-serif;
      font-size: 10pt;
   }

   #data-update {
      font-size: 90%;
      float: right;
   }

   #data-update.error {color: red}

   #header .content {
      width: 1000px;
      margin: 0 auto 0 auto;
      padding-top: 8px;
      text-align: left;
   }

   #header {
      border-bottom: 1px solid #DDDDDD;
      background: #F9F9F9;
      height: 40px;
      position: fixed;
      left: 0; top: 0;
      width: 100%;
   }

   #header h1 {
      margin: 0;
      font-size: 1.5em;
      float: left;
   }

   h3 {
      text-align: center;
      font-weight: bold;
      font-size: 100%;
      margin: 0 0 3px 0;
      border-bottom: 1px dotted #cccccc;
   }

   #content-area {
      width: 1000px;
      margin: 60px auto 20px auto;
      text-align: left;
   }
   
   .hint {
      display: inline;
      opacity: 0;
      position: absolute;
      top: -100px;
      left: 0;
      
      padding: 3px 10px 3px 10px;
      
      background: black;
      color: white;
      border: 1px solid #808080;
      
      text-align: left;
   }
   
   .hint pre {
      display: inline;
      font-weight: bold;
      color: red;
   }
   
   .hint strong {
      color: yellow;
   }

/* Expandable handling */
   .expandable {
      margin: 1em 0 1em 0;
   }

   .expandable .header {
      border-bottom: 1px solid #dddddd;
      font-size: 120%;
      font-weight: bold;
      color: #6B7B95;
   }

   .expandable .header .indicator {
      display: block;
      width: 15px;
      float: left;
   }

   .expandable .content {
      margin-left: 15px;
      background: #ffffff;
      overflow: hidden;
      padding: 5px;
   }

   .expanded .content {
      border-bottom: 1px solid #dddddd;
   }
   
   #status-indicator {
      height: 30px;
      width: 30px;
      margin: -3px 10px 0 0;
      
      float: left;
      
      -moz-border-radius: 15px;
      border-radius: 15px;

      background-color: #30ff30;
   }
   
   #status-indicator.warning {background-color: #ffe823;}
   #status-indicator.error   {background-color: #ff8080;}
   
   div.content > div.left {
      padding-right: 9px;
      border-right: 2px solid #6060ff;
   }
   
   
/* Table Generics */
   table {
      border-collapse: collapse;
      width: 100%;
   }

   table td, table tr {
      border-bottom: 1px solid #eeeeee;
      padding: 0px;
   }

   input.unsaved {
      background: #e0e0ff;
   }

   table tr.flash, table tr.flash td {
      background: #b5ff00;
   }

   table tr.alt:hover td, table tr:hover td {
      background: #ffffd0;
   }
   
   .alt td {
      background: #f6f6f6;
      border-bottom: 1px solid #e0e0e0;
   }

   table pre {display: inline;}
   table a {
      color: #000060;
      text-decoration: none;
   }
      

   input {text-align: right;}
   input.text {width: 7em;}
   input.uncommitted {font-style: italic; color: #0000ff;}

/* Overview */
   #overview-tab {width: 470px}
   #overview-tab .rate,
   #overview-tab .value {text-align: right;} 
   
   #overview-tab .fullstop {background: #ffd0d0; color: #ff0000; font-weight: bold;}
   
   #rate-plot-cotainer {
      float: right;
      display: inline;
      width: 450px;
      margin-right: 20px;
      text-align: center;
      font-size: 80%;
      color: #303030;
   }
   
   #rate-plot {
      margin-bottom: 10px;
   }
   
/* Trigger Inputs */
   #inputs-tab input {width: 4em;}
   #inputs-tab .num {width: 2%;  text-align: center;}
   #inputs-tab .invert {text-align: center;}
   
   #inputs-tab .rate {text-align: right;}

/* Internal Trigger Channel */
   .content div.left {
      float: left;
      width: 470px;
   }

   .content div.right {
      margin-left: 490px;
   }

   #itc-mask-form {
      padding: 10px 0 0 0;
      text-align: right;
   }

   #itc-mask {
      width: 8em;
   }

   .itc .channel {width: 2%; text-align: center;} 
   .itc .enable {width: 6%; text-align: center;} 
   .itc .edge {width: 10%; text-align: center;} 
/*    .itc .assign {width: 20%} */
   .itc .rate {width: 10%; text-align: right;}
   
   .itc td.rate {color: #909090;}
   .itc td.active {color: #000; font-weight: bold;}

/* Coincidence Detection */
   #coin-tab .num {width: 4%;}
   #coin-tab .window {width: 32%;}
   #coin-tab .window input {width: 4em; text-align: right}
   #coin-tab .coin   {width: 32%;}
   #coin-tab .inhibt {width: 32%;}

/* Pulser */
   #pulser-tab .num    {width: 4%; text-align: center}
   #pulser-tab .period {text-align: right}
   #pulser-tab .freq   {width: 30%; text-align: right}
   #pulser-tab .period input {text-align: right; width: 8em;}
   
   #rand-pulser-tab .freq {
      text-align: right;
   }

   .eventbuilder_rr {visibility: hidden;}
   
   #rr_warning {
      font-size: 90%;
      font-style: italic;
      color: #a03010;
      display: none;
   }
   
/* Name DB */
   #win-nameDB {
      display: none;
      position: fixed;
      top: 60px;
      left: 50%;
      width: 900px;
      margin: 0 auto 0 -450px;

      text-align: left;
      
      background: #f0f0f8;
      border: 1px solid #dddddd;
      box-shadow: 5px 10px 10px 0px rgba(0,0,0,0.5);
   }
   
   .window .header {
      border-bottom: 1px solid #dddddd;
      padding: 5px;
      
   }
   
   .window .title {
      font-size: 120%;
      font-weight: bold;
      color: #6B7B95;
   }
   
   .window .tools {
      float: right;
   }
   
   .window .content {
      padding: 10px;
   }
   
   span.path {
      font-family: monospace;
   }
   
   .window .content pre {
      background: white;
      border: 1px solid #6b8b95;
      border-left: 5px solid #6b8b95;
      padding: 5px 0 5px 10px;
      
      max-height: 600px;
      overflow: auto;
   }
   
   .warning-box {
      padding: 10px;
      text-align: left;
      background: #ffffe0;
      border: 2px solid #ffff00;
      margin-bottom: 20px;
      display: none;
   }