body {
    background:#def;
}


table#content, table#contentregs {
 border:1px solid #aaa; 
 margin:0 20px 20px 0;
 border-collapse:collapse;
}


table#content td, table#content th, table#contentregs td, table#contentregs th{
 border:1px solid #aaa; 
 width:100px;
 text-align:right;
 padding-right:15px;
}

table#content, table#contentregs {
 border:1px solid #aaa; 
}


div#bar1 {
  width:900px;
  overflow-x:scroll;
  }
  
div#bar1 div {
  width:66500px;
  height:0px;
}

div#bar2 {
  width:900px;
  overflow-x:scroll;
  }
  
div#bar2 div {
  width:65536px;
  height:0px;
}


#total {
  text-align:center;
  font-weight:bold;
  }
